*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}

.modificar{
    width: 350px;
    height: 300px;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 6px 6px 7px 4px rgb(0, 0, 0, .4);
}

input{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
    padding-top: 5px;
}